.menu {
    display: flex;
    width: 334px;
    flex-wrap: wrap;
    gap: var(--gap);
}

.menu-item {
    flex-direction: column;
    border-radius: 40px;
    height: 160px;
    width: 160px;
    padding: var(--padding-item);
}

.menu-item-first {
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    border-radius: 30px;
    height: 80px;
    width: 330px;
}