.bubble {
    border: solid 4px var(--foreground);    
    padding: var(--gap) var(--padding-item);
    border-radius: 30px;
    background-color: var(--background);
    width: 334px;
}

.bubble-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}