/* main */
main {
  padding: 30px 30px;
  height: 100%;
}

/* view */
view {
  display: flex;
  position: relative;
  height: 100%;
}







.title {
  font-size: 32px;
}

subtitle {
  font-size: 24px;
}

text {
  font-size: 20px;
}