/* root */
:root {
  --font-primary: 'Sofia Sans Variable', sans-serif;
  --gap-primary: 11px;
}

/* font */
@font-face {
  font-family: 'Sofia Sans Variable';
  src: url('./assets/fonts/SofiaSans-Variable.woff2') format('woff2');
  font-weight: 100 900; // plage variable
  font-display: swap;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
body {
  font-family: var(--font-primary);
  font-variation-settings: "wght" 600;
  height: 100vh;
  width: 100vw;
}