@import "tailwindcss";

/* font */
@font-face {
  font-family: 'Sofia Sans Variable';
  src: url('/fonts/Sofia_Sans/SofiaSans-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sofia: "Sofia Sans", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sofia);
}
