@import "tailwindcss";

/* font */
@font-face {
  font-family: 'Sofia Sans';
  src: url('/fonts/SofiaSans[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --background: #F9F7F7;
  --foreground: #000000;
  --font-sofia: "Sofia Sans", sans-serif;
  --gap: 10px;
  --padding-item: 20px;
  --padding-app: 30px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sofia);
  font-weight: 500;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bar {
  width: 100%;
  padding: var(--padding-app);
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.view {
  width: 338px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: grey;
}

.modal {
  position: absolute;
  bottom: var(--padding-app);
  background-color: yellow;
  left: 50%;
  transform: translateX(-50%);
}

.lg-text {
  font-size: 32px;
}

.md-text {
  font-size: 24px;
}

.sm-text {
  font-size: 18px;
}